$primary: #FDC908;
$corp: #006FBB;
$corp_dark: #09598E;
$secondary: #FDE265;
$secondary_dark: #B4862E;
$danger: #DB3B79;

$page_bg:#efefef;
$light_gray: #f5f5f5;
$light_gray_bg: #f9f9f9;
$border_system: #eeeeee;
$border_light: #f1f2f3;
$separator: #f7f7f7;
$form_background: #f5f5f7;

$cancel_button_bg: #f3f3f3;
$white: #ffffff;
$black: #000;
$gray: #918d8e;