body {
  --bg-color: #FDC908;
  --text-color: #ffffff;
  --section-bg-color: #ffffff;
  --section-text-color: #000000;
  --section-sub-text-color: #918D8E;
  --section-noticable-color: #fdb205;
  --section-hr-color: #E7E7EE;
  --ribbon-border-color: #231F20;
  --ribbon-bg-color: #FDE265;
  --ribbon-accent-bg-color: #ffffff;
  --ribbon-text-color: #231F1F;
  --button-bg-color: #FDE265;
  --button-text-color: #231F1F;
  --input-field-bg-color: #ffffff;
  --input-field-border-color: #E7E7EE;
  --input-field-text-color: #000000;
  --input-field-active-border-color: #f99803;
  --help-text-color: #918D8E;
  --navigation-height: 50px;/* 50px */
  --tab-height: 52px;/* 52px */
}
